<h1>Lista de Productos</h1>

<ul id='products-list'>
  {{#each payload}}
    <li>
      <b>{{this.title}}</b>
      - ${{this.price}}
      <button class='add-to-cart' data-id='{{this._id}}'>Agregar al carrito</button>
    </li>
  {{/each}}
</ul>

<div>
  {{#if hasPrevPage}}
    <a href='{{prevLink}}'>Página Anterior</a>
  {{/if}}
  Página
  {{page}}
  de
  {{totalPages}}
  {{#if hasNextPage}}
    <a href='{{nextLink}}'>Página Siguiente</a>
  {{/if}}
</div>

<script src='/socket.io/socket.io.js'></script>
<script src='/js/products.js'></script>
<script>
  const cartId = "{{cartId}}";
</script>