<h1>{{product.title}}</h1>

<p><strong>Descripción:</strong> {{product.description}}</p>
<p><strong>Precio:</strong> ${{product.price}}</p>
<p><strong>Categoría:</strong> {{product.category}}</p>
<p><strong>Stock:</strong> {{product.stock}}</p>

<button onclick="addToCart('{{product._id}}')">Agregar al carrito</button>

<script>
  async function addToCart(pid, cartId) { try { await
  fetch(`/api/carts/${cartId}/product/${pid}`, { method: "POST" });
  alert("Producto agregado!"); } catch (error) { console.error("Error al agregar
  producto:", error); } }
</script>